# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Fichiers de test ou temporaires
*.log
*.tmp
*.bak
*.swp

# Fichiers de test DSL (SoftCity)
*.int

# Scripts de test générés
test_output.txt
expected_output.txt

# Caches
.cache/
*.DS_Store

# Éditeurs (Vim, VSCode, Emacs, etc.)
.vscode/
*.sublime-project
*.sublime-workspace
*~

# Dossiers système
Thumbs.db
desktop.ini
